{% extends "layout.html" %}
{% block content %}

        <div class="content-section">
        <form method="POST" action="{{ url_for('m2m_GameAndDistribPlatform') }}">
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Add a Game & Distribution Platform Combo</legend>

                <div class="form-group">
                    {{ form.nameGame.label(class="form-control-label") }}
                    {% if form.nameGame.errors %}
                        {{ form.nameGame(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.nameGame.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.nameGame(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.idPlatform.label(class="form-control-label") }}
                    {% if form.idPlatform.errors %}
                        {{ form.idPlatform(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.idPlatform.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.idPlatform(class="form-control form-control-lg") }}
                    {% endif %}
                </div>


            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>


{% endblock content %}