{% extends "layout.html" %}
{% block content %}


    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2">Search Distribution Platform + Game Combos</a>
            </div>
            <div class="form-outline">
                <input type="search" id="form1" class="form-control" placeholder="Search"
                       aria-label="Search"/>
            </div>
        </div>
    </article>

    <article class="media content-section">
        <div class="media-body" align="center">
            <h3>Browse Existing Distribution Platform & Game Combos</h3>
        </div>
    </article>

    <article class="media content-section">
        <div class="media-body" align="center">
            <a class="btn btn-secondary" href="{{ url_for('add_m2m_GameAndDistribPlatform') }}" role="button">Add Combo</a>
            <a class="btn btn-secondary" href="{{ url_for('remove') }}" role="button">Remove Combo</a>
        </div>
    </article>

    {% for post in distribution_plat_FK_zz %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2">Posted by Admin</a>
            </div>
              <h2><a class="article-title" href="#">Game ID: {{ post.nameGame }}</a></h2>
              <h2><a class="article-title" href="#">Distribution Platform table ID: {{ post.idDistribPlat }}</a></h2>
          </div>
        </article>
    {% endfor %}

    <article class="media content-section">
        <div class="media-body" align="center">
            <a class="btn btn-primary" href="{{ url_for('add_m2m_GameAndDistribPlatform') }}" role="button">Add Combo</a>
            <a class="btn btn-primary" href="{{ url_for('remove') }}" role="button">Remove Combo</a>
        </div>
    </article>

{% endblock content %}