{% extends "layout.html" %}
{% block content %}

    <div class="content-section">
        <form method="POST" action="{{ url_for('distributionPlatforms') }}">
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Find a Distribution Platform</legend>
                <div class="form-group">
                    {{ form.search.label(class="form-control-label") }}
                    {% if form.search.errors %}
                        {{ form.search(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.search.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.search(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>

            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>

    <article class="media content-section">
        <div class="media-body" align="center">
            <h3>Browse Existing Distribution Platforms</h3>
        </div>
    </article>


    <article class="media content-section">
        <div class="media-body" align="center">
            <a class="btn btn-secondary" href="/adddistribplat" role="button">Add a Distribution Platform</a>
            <a class="btn btn-secondary" href="{{ url_for('remove_distribPlat') }}" role="button">Remove a Distribution Platform</a>
        </div>
    </article>

    {% for distPlat in distributionPlatform %}
        <article class="media content-section">
          <div class="media-body">
            <h2><a class="article-title" href="#">Distribution Platform: {{ distPlat.nameDistrib }}</a></h2>
              <p class="article-content">Distribution Platform ID: {{ distPlat.idDistribPlat }}</p>
            <p class="article-content">Platform Relation: {{ distPlat.platformRel }}</p>
          </div>
        </article>
    {% endfor %}

    <div class="col-xs-1" align="center">
        <a class="btn btn-secondary" href="/adddistribplat" role="button">Add a Distribution Platform</a>
        <a class="btn btn-secondary" href="{{ url_for('remove_distribPlat') }}" role="button">Remove a Distribution Platform</a>
    </div>

{% endblock content %}