{% extends "layout.html" %}
{% block content %}

    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2">Find a Creator</a>
            </div>
            <div class="form-outline">
                <input type="search" id="form1" class="form-control" placeholder="Search"
                       aria-label="Search"/>
            </div>
        </div>
    </article>

    <article class="media content-section">
        <div class="media-body" align="center">
            <h3>Browse Existing Creators</h3>
        </div>
    </article>

    <article class="media content-section">
        <div class="media-body" align="center">
            <a class="btn btn-secondary" href="/addcreator" role="button">Add Creator</a>
            <a class="btn btn-secondary" href="{{ url_for('remove') }}" role="button">Remove Creator</a>
        </div>
    </article>

        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2">Posted by Andy</a>
              <small class="text-muted">on 1.24.2021</small>
            </div>
            <h2><a class="article-title" href="#">Game Creators</a></h2>
              {% for creator in gameCreator %}
            <p class="article-content">Creator ID: {{ creator.idCreator }}
                Creator Name: {{ creator.nameCreator }}</p>
              {% endfor %}
          </div>
        </article>

    <article class="media content-section">
        <div class="media-body" align="center">
            <a class="btn btn-secondary" href="/addcreator" role="button">Add Creator</a>
            <a class="btn btn-secondary" href="{{ url_for('remove') }}" role="button">Remove Creator</a>
        </div>
    </article>

{% endblock content %}
