{% extends "layout.html" %}
{% block content %}

    <div class="content-section">
        <form method="POST" action="{{ url_for('gameGenres') }}">
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Find a Genre</legend>
                <div class="form-group">
                    {{ form.search.label(class="form-control-label") }}
                    {% if form.search.errors %}
                        {{ form.search(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.search.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.search(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>

    <article class="media content-section">
        <div class="media-body" align="center">
            <h3>Browse Existing Genres</h3>
        </div>
    </article>

    <article class="media content-section">
        <div class="media-body" align="center">
            <a class="btn btn-secondary" href="/addgenre" role="button">Add Genre</a>
            <a class="btn btn-secondary" href="{{ url_for('remove') }}" role="button">Remove Genre</a>
        </div>
    </article>
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2">Posted by Andy</a>
              <small class="text-muted">on 1.24.2021</small>
            </div>
            <h2><a class="article-title" href="#">Game Genres</a></h2>
              {% if gameGenre|length > 0 %}
                  {% for genre in gameGenre %}
                      <p class="article-content">Genre ID: {{ genre.idGenre }}
                      Genre Name: {{ genre.nameGenre }}</p>
                  {% endfor %}
              {% endif %}
              {% if gameGenre|length < 1 %}
                  {% for g in results %}
                      <p class="article-content">Genre ID: {{ g.idGenre }}
                      Genre Name: {{ g.nameGenre }}</p>
                  {% endfor %}
              {% endif %}
          </div>
        </article>
        <div class="col-xs-1" align="center">
        <div class="col-xs-1" align="center">
        <a class="btn btn-secondary" href="/addgenre" role="button">Add Genre</a>
        <a class="btn btn-secondary" href="{{ url_for('remove') }}" role="button">Remove Genre</a>
    </div>
    </div>
{% endblock content %}
