{#This provides the HTML for the index page#}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Backlog - Index</title>
</head>
<body>
    <h1>Welcome to The Backlog's Index Page!</h1>
    <h2>Please find the link to each page below:</h2>
    <p>\ (•◡•) /</p>
    <a href="https://thebacklog340.herokuapp.com/home">Home</a>
    <p> /// </p>
    <a href="https://thebacklog340.herokuapp.com/search">Search</a>
    <p> /// </p>
    <a href="https://thebacklog340.herokuapp.com/games">Games</a>
    <p> /// </p>
    <a href="https://thebacklog340.herokuapp.com/gamegenres">Game Genres</a>
    <p> /// </p>
    <a href="https://thebacklog340.herokuapp.com/gamecreators">Game Creators</a>
    <p> /// </p>
    <a href="https://thebacklog340.herokuapp.com/platforms">Platforms</a>
    <p> /// </p>
    <a href="https://thebacklog340.herokuapp.com/podcastepisodes">Podcast Episodes</a>
    <p> /// </p>
    <a href="https://thebacklog340.herokuapp.com/gamesandplatforms">Games and Platforms</a>
    <p> /// </p>
</body>
</html>