<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Backlog - Index</title>
</head>
<body>
    <h1>Welcome to The Backlog's Index Page!</h1>
    <h2>Please find the link to each page below:</h2>
    <p>\ (•◡•) /</p>
    <a href="http://flip3.engr.oregonstate.edu:7354/home">Home</a>
    <p> /// </p>
    <a href="http://flip3.engr.oregonstate.edu:7354/search">Search</a>
    <p> /// </p>
    <a href="http://flip3.engr.oregonstate.edu:7354/games">Games</a>
    <p> /// </p>
    <a href="http://flip3.engr.oregonstate.edu:7354/gamegenres">Game Genres</a>
    <p> /// </p>
    <a href="http://flip3.engr.oregonstate.edu:7354/gamecreators">Game Creators</a>
    <p> /// </p>
    <a href="http://flip3.engr.oregonstate.edu:7354/platforms">Platforms</a>
    <p> /// </p>
    <a href="http://flip3.engr.oregonstate.edu:7354/podcastepisodes">Podcast Episodes</a>
    <p> /// </p>
    <a href="http://flip3.engr.oregonstate.edu:7354/distributionplatforms">Distribution Platforms</a>
    <p> /// </p>
    <a href="http://flip3.engr.oregonstate.edu:7354/gamesandplatforms">Games and Platforms</a>
    <p> /// </p>
    <a href="http://flip3.engr.oregonstate.edu:7354/gamesanddistributionplatforms">Games and Distribution Platforms</a>
</body>
</html>