<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Backlog - Index</title>
</head>
<body>
    <h1>Welcome to The Backlog's Index Page!</h1>
    <h2>Please find the link to each page below:</h2>
    <p>\ (•◡•) /</p>
    <a href="http://flip2.engr.oregonstate.edu:8748/home">Home</a>
    <p> /// </p>
    <a href="http://flip2.engr.oregonstate.edu:8748/search">Search</a>
    <p> /// </p>
    <a href="http://flip2.engr.oregonstate.edu:8748/games">Games</a>
    <p> /// </p>
    <a href="http://flip2.engr.oregonstate.edu:8748/gamegenres">Game Genres</a>
    <p> /// </p>
    <a href="http://flip2.engr.oregonstate.edu:8748/gamecreators">Game Creators</a>
    <p> /// </p>
    <a href="http://flip2.engr.oregonstate.edu:8748/platforms">Platforms</a>
    <p> /// </p>
    <a href="http://flip2.engr.oregonstate.edu:8748/podcastepisodes">Podcast Episodes</a>
    <p> /// </p>
    <a href="http://flip2.engr.oregonstate.edu:8748/gamesandplatforms">Games and Platforms</a>
    <p> /// </p>
</body>
</html>