{% extends "layout.html" %}
{% block content %}

    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2">Search Game & Platform Combos</a>
            </div>
            <div class="form-outline">
                <input type="search" id="form1" class="form-control" placeholder="Search"
                       aria-label="Search"/>
            </div>
        </div>
    </article>

    <article class="media content-section">
        <div class="media-body" align="center">
            <h3>Browse Existing Game and Platform Combos</h3>
        </div>
    </article>

    <article class="media content-section">
        <div class="media-body" align="center">
            <a class="btn btn-secondary" href="{{ url_for('add_m2m_GameAndPlatform') }}" role="button">Add Combo</a>
            <a class="btn btn-secondary" href="{{ url_for('remove') }}" role="button">Remove Combo</a>
        </div>
    </article>

    {% for post in platform_FK_zz %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2">Posted by Admin</a>
                    <small class="text-muted"> on Jan 1, 2021</small>
                </div>
                <h2><a class="article-title" href="#">Game ID: {{ post.nameGame }}</a></h2>
                <h2><a class="article-title" href="#">Platform table ID: {{ post.idPlatform }}</a></h2>
                </p>
            </div>
        </article>
    {% endfor %}

    <article class="media content-section">
        <div class="media-body" align="center">
            <a class="btn btn-secondary" href="{{ url_for('add_m2m_GameAndPlatform') }}" role="button">Add Combo</a>
            <a class="btn btn-secondary" href="{{ url_for('remove') }}" role="button">Remove Combo</a>
        </div>
    </article>

{% endblock content %}
