{% extends "layout.html" %}
{% block content %}

    <div class="content-section">
        <form method="POST" action="{{ url_for('platforms') }}">
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Find a Platform</legend>
                <div class="form-group">
                    {{ form.search.label(class="form-control-label") }}
                    {% if form.search.errors %}
                        {{ form.search(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.search.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.search(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>

            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>

    <article class="media content-section">
        <div class="media-body" align="center">
            <h3>Browse Existing Platforms</h3>
        </div>
    </article>

    <article class="media content-section">
        <div class="media-body" align="center">
            <a class="btn btn-secondary" href="/addplatform" role="button">Add Platform</a>
            <a class="btn btn-secondary" href="{{ url_for('remove_platform') }}" role="button">Remove Platform</a>
        </div>
    </article>


    {% for platform in platform %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="#"> Platform ID: {{ platform.idPlatform }}</a>
                </div>
                <h2><a class="article-title" href="#">{{ platform.namePlatform }}</a></h2>
                <p class="article-content">Can it be played online? {% if platform.playedOnline == 1 %} Yes {% endif %}{% if platform.playedOnline == 0 %} No {% endif %}
                Is it multiplatform? {% if platform.multiPlat == 1 %} Yes {% endif %} {% if platform.multiPlat == 0 %} No {% endif %}</p>
            </div>
        </article>
    {% endfor %}

    <div class="col-xs-1" align="center">
        <a class="btn btn-secondary" href="/addplatform" role="button">Add Platform</a>
        <a class="btn btn-secondary" href="{{ url_for('remove_platform') }}" role="button">Remove Platform</a>
    </div>

{% endblock content %}