{% extends "layout.html" %}
{% block content %}

    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2">Find an Episode</a>
            </div>
            <div class="form-outline">
                <input type="search" id="form1" class="form-control" placeholder="Search"
                       aria-label="Search"/>
            </div>
        </div>
    </article>

    <article class="media content-section">
        <div class="media-body" align="center">
            <h3>Browse Existing Planned Episodes</h3>
        </div>
    </article>

    <article class="media content-section">
        <div class="media-body" align="center">
            <a class="btn btn-secondary" href="/addepisode" role="button">Add Episode</a>
            <a class="btn btn-secondary" href="{{ url_for('remove') }}" role="button">Remove Episode</a>
        </div>
    </article>


    {% for episode in podcastEpisode %}
        <article class="media content-section">
          <div class="media-body">
            <h2><a class="article-title" href="#">Podcast Episode on {{ episode.title }}</a></h2>
              <p class="article-content">Episode Number {{ episode.episodeNumber }}</p>
            <p class="article-content">To be posted on {{ episode.episodeDate }}</p>
          </div>
        </article>
    {% endfor %}

    <div class="col-xs-1" align="center">
            <a class="btn btn-secondary" href="/addepisode" role="button">Add Episode</a>
            <a class="btn btn-secondary" href="{{ url_for('remove') }}" role="button">Remove Episode</a>
    </div>
{% endblock content %}