{% extends "layout.html" %}
{% block content %}

    <div class="content-section">
        <form method="POST" action="">
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Remove a Platform</legend>
                <div class="form-group">
                    {{ form.name.label(class="form-control-label") }}
                    {% if form.name.errors %}
                        {{ form.name(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.name(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>

            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>

    <h2 class="text-center">Current Platforms</h2>

    {% for platform in platform %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="#"> Platform ID: {{ platform.idPlatform }}</a>
                </div>
                <h2><a class="article-title" href="#">{{ platform.namePlatform }}</a></h2>
                <p class="article-content">Can it be played online? {{ platform.playedOnline }}
                    Is it multiplatform? {{ platform.multiPlat }}</p>
            </div>
        </article>
    {% endfor %}

{% endblock content %}