{% extends "layout.html" %}
{% block content %}

    <div class="content-section">
        <form method="POST" action="">
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Remove a Genre</legend>
                <div class="form-group">
                    {{ form.name.label(class="form-control-label") }}
                    {% if form.name.errors %}
                        {{ form.name(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.name(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>

            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>

        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2">Posted by Andy</a>
              <small class="text-muted">on 1.24.2021</small>
            </div>
            <h2><a class="article-title" href="#">Current Game Genres</a></h2>
                  {% for genre in gameGenre %}
                      <p class="article-content">Genre ID: {{ genre.idGenre }}
                      Genre Name: {{ genre.nameGenre }}</p>
                  {% endfor %}
          </div>
        </article>


{% endblock content %}